body {
    background-color: black;
}

.list-group {
    position: relative;
    margin: 10px auto 5px auto;
}

.score-box {
    font-family : "Roboto Black";
    font-size : 2rem;
    position: relative;
    margin: 20px auto;
}

.datepicker {
    width: 15%;
    font-family: "Bitstream Vera Sans Mono", "DejaVu Sans Mono", Monaco, monospace;
}

.datepicker-day-button {
    color: rgba(5, 8, 17, 0.44);
}

.datepicker-modal {
    /*width: 20%;*/
}