{% extends "base.html" %}

{% block navbar %}
    <nav>
        <div class="nav-wrapper indigo darken-4">
            <input type="text" class="brand-logo center datepicker"
                   href="#" value="{{ date }}"/>
            <ul id="nav-mobile" class="left">
                <li><a class="nav-link" href="#">West Conference Standings</a></li>
            </ul>
            <ul id="nav-mobile" class="right">
                <li><a class="nav-link" href="#">East Conference Standings</a></li>
            </ul>
        </div>
    </nav>
{% endblock navbar %}

{% block content -%}
    <div class="container">
        <div class="collection score-box">
            {% for i in range(0,rows) %}
                    <div class="row collection-item blue lighten-3 center-align">
                        <div class="col s5 m5 l5 xl5">
                            <p> {{ games[i][6] }} </p>
                            <p> {{ games[i][22] }} </p>
                        </div>
                        <div class="col s1 m1 l1 xl1">
                             &nbsp;-&nbsp;
                        </div>
                        <div class="col s5 m5 l5 xl5">
                            <p> {{ games[i][34] }} </p>
                            <p> {{ games[i][50] }} </p>
                        </div>
                    </div>
            {% endfor %}
        </div>
    </div>
{% block scripts -%}
    {{ super() }}
    <script type="text/javascript" src="{{ url_for('static',
                filename='JS/datePicker.js') }}">
    </script>
{%- endblock scripts  %}
{%- endblock content %}
