{% extends "bootstrap/base.html" %}

{% block head %}
    {{ super() }}
    <title>{{ title }}</title>
    <link href="{{ url_for('static', filename='stylesheets/style.css') }}"
          rel="stylesheet" type="text/css"/>

    <!-- meta tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <meta name="description" content="Simple web page for displaying NBA stats">
    <meta name="keywords" content="NBA, stats, basketball, statistics, numbers">
    <meta name="author" content="KnfieyMoloko">
    <meta rel="shortcut icon" href="">

    <!-- favicon definitions -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='icons/favicon.ico') }}"
    type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='icons/favicon.ico') }}"
    type="image/x-icon">
{% endblock %}

{% block body %}
    <nav class="navbar navbar-static-top navbar-inverse bg-inverse">
            <a class="navbar-brand" href="/">NBA Scores Daily</a>
    </nav>
{% endblock %}

